%thead
  %tr
    %th.index
      index
    %th.id
      id
    %th.popular
      popular
    %th.text
      text
    %th.created_at
      created_at
    %th.urls
      urls
    %th.category
      category
    %th.selecter
      select